<footer>
	<div style="background-color: #E8E8E8;">
		<div class="container vp-xs-top-1 vp-xs-bottom-1">
			<div class="row">
				<div class="col-xs-8 offset-xs-2 text-xs-center">
					<p class="vm-xs-bottom-0">{% if options.church_address %}{{ options.church_address }}{% endif %}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container vp-xs-top-3 vp-xs-bottom-3">
		<div class="row">
			<div class="col-sm-4 col-lg-2 offset-lg-3 vm-xs-bottom-2 vm-md-bottom-0 text-xs-center">
				{% if footerNav1.get_items %}
					<h5 class="vm-xs-bottom-1 u-color-primary"><strong>{{footerNav1.title}}</strong></h5>
					<ul>
						{% for item in footerNav1.get_items %}
							<li class="{{item.classes | join(' ')}}"><a href="{{item.get_link}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-sm-4 col-lg-2 vm-xs-bottom-2 vm-md-bottom-0 text-xs-center">
				{% if footerNav2.get_items %}
					<h5 class="vm-xs-bottom-1 u-color-primary"><strong>{{footerNav2.title}}</strong></h5>
					<ul>
						{% for item in footerNav2.get_items %}
							<li class="{{item.classes | join(' ')}}"><a href="{{item.get_link}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-sm-4 col-lg-2 vm-xs-bottom-2 vm-md-bottom-0 text-xs-center">
				{% if footerNav3.get_items %}
					<h5 class="vm-xs-bottom-1 u-color-primary"><strong>{{footerNav3.title}}</strong></h5>
					<ul>
						{% for item in footerNav3.get_items %}
							<li class="{{item.classes | join(' ')}}"><a href="{{item.get_link}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="base">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-xs-center">
					<p>{% if options.church_address %}{{ options.church_address }}{% endif %}<br />615.893.7444<br />
					<span>&copy; {{"now"|date('Y')}} River Oaks Community Church. All Rights Reserved.</span></p>
				</div>
			</div>
		</div>
	</div>
</footer>
