{% block site_nav %}

{% for hero in post.get_field('hero') %}
	<div class="u-abs-full bg-img" {% if fn('is_front_page') %}data-vide-bg="{{ theme.link }}/assets/src/video/rocc_bg" data-vide-options="loop: true, muted: false, position: 50% 50%"{% else %} style="background-image: url('{{ fn('imgix', hero.bg_image) }}');" {% endif %}></div>
	<div class="hero__content">
		<h1>{{ hero.title }}</h1>
		<p>{{ hero.subtitle }}</p>
		<div class="vm-xs-top-4">
			{% if hero.additional_content %}
				{{ hero.additional_content }}
			{% endif %}
		</div>
	</div>
{% endfor %}

{% endblock %}
