{% extends "base.twig" %}

{% block content %}
	
	<div class="hero">
		{% include 'hero-page.twig' %}
		{% include '_partial-alert.twig' %}
	</div>

	<section>
		<div class="container">
			{% for flex_field in post.get_field('flex_fields') %}
				{% if flex_field.acf_fc_layout == 'text_w_image_left' %}
					<div class="row vp-xs-top-2 vp-xs-bottom-2 vp-md-top-4 vp-md-bottom-4 vm-xs-top-2 vm-xs-bottom-2">
						<div class="col-md-6 media-img vm-xs-bottom-2 vm-md-bottom-0">
							<div class="u-abs-full bg-img" style="background-image: url('{{ flex_field.image }}');"></div>
						</div>
						<div class="col-md-5 offset-md-1 vp-md-top-2">
							<h2>{{ flex_field.header }}</h2>
							<p class="vm-xs-bottom-2">{{ flex_field.body }}</p>
							{% if flex_field.button_text %}
								<a href="{{ flex_field.button_url }}" class="btn btn-secondary">{{ flex_field.button_text }}</a>
							{% endif %}
						</div>
					</div>
				{% elseif flex_field.acf_fc_layout == 'text_w_image_right' %}
					<div class="row vp-xs-top-2 vp-xs-bottom-2 vp-md-top-4 vp-md-bottom-4 vm-xs-top-2 vm-xs-bottom-2">
						<div class="col-md-5 vp-md-top-2 vm-xs-bottom-2 vm-md-bottom-0">
							<h2>{{ flex_field.header }}</h2>
							<p class="vm-xs-bottom-2">{{ flex_field.body }}</p>
							{% if flex_field.button_text %}
								<a href="{{ flex_field.button_url }}" class="btn btn-secondary">{{ flex_field.button_text }}</a>
							{% endif %}
						</div>
						<div class="col-md-6 offset-md-1 media-img">
							<div class="u-abs-full bg-img" style="background-image: url('{{ fn('imgix', flex_field.image) }}');"></div>
						</div>
					</div>
				{% elseif flex_field.acf_fc_layout == 'content_full_width' %}
					<div class="row vp-xs-top-2 vp-xs-bottom-2 vp-md-top-4 vp-md-bottom-4 vm-xs-top-2 vm-xs-bottom-2">
						<div class="col-md-12">
							<h2>{{ flex_field.header }}</h2>
							<p>{{ flex_field.body }}</p>
							{% if flex_field.button_text %}
								<a href="{{ flex_field.button_url }}" class="btn btn-primary vm-xs-top-1">{{ flex_field.button_text }}</a>
							{% endif %}
						</div>
					</div>
				{% elseif flex_field.acf_fc_layout == 'big_image' %}
					<div class="row vp-xs-top-4">
						<div class="col-md-12 vp-xs-top-12 vp-xs-bottom-12">
							<div class="u-abs-full bg-img" style="background-image: url('{{ flex_field.image }}');"></div>
						</div>
					</div>
				{% elseif flex_field.acf_fc_layout == 'content' %}
					<div class="row vp-xs-top-2 vp-xs-bottom-2 vp-md-top-4 vp-md-bottom-4 vm-xs-top-2 vm-xs-bottom-2">
						<div class="col-md-8 offset-md-2">
							{{ flex_field.wysiwyg }}
						</div>
					</div>
				{% elseif flex_field.acf_fc_layout == 'staff_profiles' %}
					<div class="row vp-xs-top-2 vp-xs-bottom-2 vp-md-top-4 vp-md-bottom-4 vm-xs-top-2 vm-xs-bottom-2">
						{% for member in flex_field.staff %}
            				<div class="col-sm-6 col-lg-4 staff">
								<div class="staff__photo">
									<div class="u-abs-full bg-img" style="background-image: url('{{ member.photo }}');"></div>
								</div>
								<div class="staff__meta">
									<h5 class="staff__name">{{ member.name }}</h5>
									<h5><strong>{{ member.title }}</strong> | <a href="mailto: {{ member.email_address }}">email</a></h5>
								</div>
							</div>
    					{% endfor %}
					</div>
				{% elseif flex_field.acf_fc_layout == 'big_map' %}
					{% if flex_field.lattitude and flex_field.longitude %}
						<div class="row vm-xs-top-12 vm-xs-bottom-4 vp-xs-bottom-12 vm-md-top-4 vp-md-top-8 vp-md-bottom-8" style="position: relative;">
							<div class="map-text">
								<h3>{{ flex_field.header }}</h3>
								<hr />
								<h4>{{ flex_field.address }}</h4>
							</div>
							<div id="map" class="u-abs-full bg-img bg-map" data-lattitude="{{ flex_field.lattitude }}" data-longitude="{{ flex_field.longitude }}"></div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</section>

{% endblock %}
